{% extends 'Apps/base.html' %}
{% load static %}
{% block title %}Password reset successfully{% endblock title %}

{% block main-content %}    
<div class="container">
    <div class="row my-5 pt-5 pt">
        <div class="col-sm-6 offset-sm-3">
            <h3>reset password Complete!</h3>
            <div class="text-center">
                <iframe src="{% static 'Apps/images/done.gif' %}" frameborder="0" width="100%" height="500" class="giphy-embed" allowfullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
