{% extends 'Apps/base.html' %}
{% load static %}
{% block title %}category{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row justify-content-between py-5 mt-5">
        <div class="img2 col-lg-5 mt-5">
            <img src="{{product.Product_image.url}}" alt="" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75">
        </div>
        <div class="productdetail col-lg-5">
            <h1 style="font-family: Georgia; font-size: 50px;">
                {{product.title}}
            </h1>
            <div class="fw-bold text-danger">
                Tk.{{product.discount_price}}/-
                <small class="fw-light text-decoration">
                    {{product.selling_price}}
                </small>
        </div>
        <h4>product features</h4>
        <ul class="fs-5" style="font-family: Rajdhani;">
            <li>{{product.description}}</li>
        </ul>
        <div class="buttons row flex" style="font-family: Rajdhani;">
            <form action="{% url 'add-to-cart' %}" class="d-inline">
                <input type="hidden" name="prod_id" value={{product.id}} />
                <button type="submit" class="d-grid gap-2 btn1 btn btn-danger p-1 m-1 btn-lg btn-block text-decoration-none text-white">
                    Add to Cart
                </button>
            </form>
            <div class="btn btn-lg btn-dark btn-block p-1 m-1">
                <a href="{% url 'showcart' %}" class="text-decoration-none text-white">Buy Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}